h1 {
    background-color: magenta;
    color: blue;
    padding:20px;
    border: 10px;
    border-style: solid;
    margin: 30px;
}
h2 {
    color: red;
}
p {
    background-color: rgb(30, 255, 0);
    color: rgb(255, 6, 131);
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    padding: 20px;
    border: 10px;
    border-style: dashed;
    border-color: rgb(0, 0, 0);
}
img {
    width: 150px;
    height: 150px;
    
}